/* Resets to remove any default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #161616; /* Cyan color */
}

/* Ensures the App component covers the entire viewport */
.App {
  /*text-align: right;*/
  min-height: 100vh; /* Ensures the app fills at least the whole height of the viewport */
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 100%;
  background-color: #161616; /* Cyan color */
}
.App-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  color: white;
  padding: 20px 0;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  max-width: 600px; /* Adjust based on your design preference */
}

.App-logo {
  width: 300px; /* Adjust size as necessary */
  height: auto;
  margin-right: 20px; /* Reduced space between image and text */
}

.text-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.App-button {
  margin-top: 10px;
  width: 150px; /* Set a specific width */
  padding: 10px 20px;
  background-color: yellow;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center; /* Center the text inside the button */
}

.App-button:hover {
  background-color: purple;
}