/* Ensure the html and body take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

/* Ensure the dashboard takes up the full height */
.dashboard {
    color: white;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    /* Other styles */
}

/* Other existing styles */

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.welcome-title {
    margin: 0;
    font-size: 2em;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    color: white;
    background-color : black;
    width: 1000px;
    padding: 10px;
    font-size: 16px;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.btn:hover {
    background-color: purple; /* Change background color on hover */
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%; /* Ensure it spans the full width */
}

.your-campaigns {
    font-size: 1.5em;
    margin-top: 10px;
}

.campaign-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.campaign-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
